.container {
    position: relative;
    background-color: #131419;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   

}

.hijo {
  
    position: absolute;
    
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%); 
    margin-top: 180px;
    width: 50%; 
    /* border: solid 1px;
    border-color: grey;
    border-radius: 10px; */
    text-align: justify;
    padding: 15px;
    color: white;
    
}


.hijo h1{
    color: white;   
    font-size: 40px;
    margin-bottom: 5%;
    border-bottom: 4px #004e71 solid  ;
    
}

.hijo h4{
    color: white;   
    font-size: 16px;
    margin-top: -22px; 
    font-weight: lighter;  
    
}

.hijo2 {
    position: absolute;
    
   border-radius: 15px;
    left: 70%; 
}