.container {   
    background-color: #131419;
    background-size: cover;
    background-position: center;
    height: 100vh;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenido {
    position: absolute;
    padding-left: 8rem;
    margin-top: 50px;
    padding-top: 90px;
    color: white;
   
}

.title{
    color: white; 
    width: 50%;  
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 5%;
    border-bottom: 4px #004e71 solid  ;
    
}

.mail{
    color: white;   
    font-size: 14px;
    margin-top: -27px; 
    font-weight: lighter;     
}

.saludo{
    color: white;   
    font-size: 20px;
    font-weight: 800;
    margin-top: 15px;
}

.title2{
    color: white; 
    font-size: 14px;
    margin-top: 8px;   
    
}



.hijo2 {
    position: absolute;
     
    left: 60%;
    margin-bottom: 40%;
}

img {
    border-radius: 5px;
  

}

@media only screen and (max-width: 576px) {

    .contenido {
        position: absolute;
        padding-left:15px;
        padding-right: 15px;
        margin-top: 30px;
        padding-top:60px;
        color: white;
        
       
    }

    .mail{
        color: white;   
        font-size: 13px;
        margin-top: -15px; 
        font-weight: lighter;     
    }

    .hijo2 {
       display: none;
    }  

    .title2{
        color: white; 
        font-size: 16px;
        margin-top: 10px; 
          
        
    }
    

    

}