.container {
    
    background-color: #131419;
    background-size: cover;
    background-position: center;
    height: 100vh;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   

}

.contenido {
    position: absolute;
    padding-left: 8rem;
    margin-top: 50px;
    padding-top: 80px;
    color: white;
   
}

.title{
    color: white; 
    width: 50%;  
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 5%;
    border-bottom: 4px #004e71 solid;    
}


.contactbar {
    margin-left: 40%;
    margin-top: 40px;    
}

form {
    margin-left: 50%;
    width:600px;   
    background-color:  #131419;    
    border-radius: 10px;
    
 }

 input {
    padding: 5px; 
    width: 400px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: #004e71 solid 3px;
    font-size: 14px;
}

textarea {
    width: 400px;
    padding: 5px; 
    height: 180px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: #004e71 solid 4px;
    font-size:14px;
}

button {
    width: 150px;
    height: 340px;
    margin-left: 15%;
    background-color:#004e71   ;
    border-radius: 5px;
    font-size: 18px;
}

button:hover {
    background-color:#72bfe2   ;
}