.container {
    position: relative;
    background-color: #131419;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   

}

.hijo {
  
    position: absolute;
    
   
    margin-left: 70px;
    margin-top: 40px;
    width: 90%; 
    /* border: solid 1px;
    border-color: grey;
    border-radius: 10px; */
    text-align: justify;
    padding: 15px;
    color: white;
    
}

.hijo h1{
    color: white;   
    font-size: 40px;
    margin-bottom: 5px;
    border-bottom: 4px #004e71 solid  ;
    
}

.contactbar {
    margin-top: 40px;
    
}

form {
    margin: 0 auto; 
    width:700px;   
    background-color:  #131419; 
    padding: 35px; 
    border-radius: 10px;
    
 }

 input {
    padding: 5px; 
    width: 500px;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: #004e71 solid 4px;
    font-size: 24px;
}

textarea {
    width: 500px;
    padding: 5px; 
    height: 200px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: #004e71 solid 4px;
    font-size: 24px;
}

button {
    width: 40%;
    height: 40px;
    margin-left: 15%;
    background-color:#004e71   ;
    border-radius: 5px;
    font-size: 22px;
}

button hover {
    background-color:#72bfe2   ;
}