.container {
    background-image: url("./img/backgroundHome.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.contenido {
    padding-left: 8rem;
    padding-top: 220px;
   
}

.nombre {
    /*nombre*/
    color: white;
    font-size: 18px;  
}

.apellido {
    font-size: 60px;
    font-weight:700;  
    color: white;
    
    
}

.que {   
    color: white;
    font-size: 17px;
    padding-top: 1px;
    
}


@media only screen and (max-width: 576px) {

    .container {      
        background-position:right;   
        background-size: cover;     
    }

    .contenido {
        padding-left: 4rem;
        padding-top: 220px;
       
    }
    
    .nombre {
        /*nombre*/
        color: white;
        font-size: 14px;  
    }
    
    .apellido {
        font-size: 40px;
        font-weight:700;  
        color: white;
        
        
    }
}