.container {
    background-image: url("./img/backgroundHome.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.contenido {
    padding-left: 8rem;
    padding-top: 300px;
   
}

.nombre {
    /*nombre*/
    color: white;
    font-size: 22px;  
}

.apellido {
    color: white;
    font-size: 70px;
    font-weight: bold;   
}

.que {   
    color: white;
    font-size: 20px;
    padding-top: 2px;
    
}


