.container {
    
    background-color: #131419;
    background-size: cover;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height:100vh;
    margin :0;
    
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   

}

.hijo {
  
    position: absolute;
    
   
    margin-left: 70px;
    margin-top: 40px;
    width: 90%; 
    /* border: solid 1px;
    border-color: grey;
    border-radius: 10px; */
    text-align: justify;
    padding: 15px;
    color: white;
    
}

.hijo h1{
    color: white;   
    font-size: 40px;
    margin-bottom: 5px;
    border-bottom: 4px #004e71 solid  ;
    
}

.trabajos {
    float: left;
    top: 20px;
    right: 50px;  
    color: white;
    margin-right: 25px;
    margin-top: 15px;
   

}


@media only screen and (max-width: 576px) {

    .hijo {                   
        margin-left: 0px;        
    }

    .hijo h1{
        
        font-size: 20px;
       
        
    }

    .trabajos {
        float: right;        
    
    }
    
}