.sub_div {
    position: absolute;
    margin-top: 12px;
    margin-left:80%;
   

    color: rgb(240, 237, 237);
    font-family: 'Verdana', sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: lighter;
    
}

.iconitos {
    float: left;     
    color: white;
    width: 50px;
    margin: -6px;

}

@media all and (max-width: 576px) {

    .sub_div {
       display: none;
        
    }
 
  }